body{
	font-family: 'Questrial', sans-serif;
}

p{
	font-family: 'Lato', sans-serif;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

li {
	list-style-type: none;
}

/*top-navigation section*/

.top-navigation {
	background-color: #283593;
	position: fixed;
	width: 100%;
	z-index: 9999;
	border: 0;
	top: 0;
    border-bottom: 1px solid #eaebec;
}

.content {
	width: 970px;
	height: 70px;
	margin: 0 auto;
}

.top-navigation .links  {
	float: right;
	margin-top: 2em;
}

.top-navigation .content .links > li{
	display: inline-block;
	margin-left: 25px;
}

/*top-navigation styling*/

.top-navigation	.links{
	font-size: 16px;
	letter-spacing: 0.03em;
}

.top-navigation > .content > .links > li > a {
	text-decoration: none;
	color: #FFFFFF;
}

.top-navigation > .content > .links  > a:hover{
	cursor: pointer;
	color: #9FA8DA;
}

/*self-introduction section*/

.self-intro{
	background-image: url("../images/background.jpg");
	background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height: 45.938rem;
}

.self-intro .content{
	text-align: center;
	padding-top: 15em;
	color: #C5CAE9;
}

.self-intro h1{
	font-size: 5em;
	font-weight: 500;
}

.self-intro h3{
	font-size: 1.5em;
	font-weight: 300;
	text-align: center;
}
